<div class="denunciar">
    <div class="title_section d_flex ml_1">
        <div class="number">
            <h1>1</h1>
        </div>
        <div>
            <h2>Denunciar siniestro</h2>
        </div>
        <div>
            <i class="pi pi-question-circle" pTooltip="Texto de Tooltip"></i>
        </div>
    </div>
    <div class="txt_c">
            <input class="denunciar_card" type="radio" name="tabs" id="tab1" checked />
            <label for="tab1">
                <div class="card">
                    <div class="back_img">
                        <img src="assets/im_dashboard/denunciar/denunciar_hogar/Danos_terceros.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ denuncia_1 }}</h4>  
                    </div>
                </div>
            </label>
            <input class="denunciar_card" type="radio" name="tabs" id="tab2" />
            <label for="tab2">
                <div class="card">
                    <div class="back_img">
                        <img src="assets/im_dashboard/denunciar/denunciar_hogar/Impacto_vehiculo.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ denuncia_2 }}</h4>  
                    </div>
                </div>
            </label>
            <input class="denunciar_card" type="radio" name="tabs" id="tab3" />
            <label for="tab3">
                <div class="card">
                    <div class="back_img">
                        <img src="assets/im_dashboard/denunciar/denunciar_hogar/Hoyo_uno.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ denuncia_3 }}</h4>  
                    </div>
                </div>
            </label>
            <input class="denunciar_card" type="radio" name="tabs" id="tab4" />
            <label for="tab4">
                <div class="card">
                    <div class="back_img">
                        <img src="assets/im_dashboard/denunciar/denunciar_hogar/Tumulto_popular.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ denuncia_4 }}</h4>  
                    </div>
                </div>
            </label>
            <div class="tab content1">
                <app-consecuencias-hogar></app-consecuencias-hogar>
            </div>
            <div class="tab content2">
                <app-consecuencias-hogar></app-consecuencias-hogar>
            </div>
            <div class="tab content3">
                <app-consecuencias-hogar></app-consecuencias-hogar>
            </div>
            <div class="tab content4">
                <app-consecuencias-hogar></app-consecuencias-hogar>
            </div>
            <div class="tab content5">
                <app-consecuencias-hogar></app-consecuencias-hogar>
            </div>
    </div>
    
</div>

