<div class="need"> 
    <div class="back_need"></div>  
    <h2 class="txt_w">Te acompañamos en cada necesidad</h2>
    <p-carousel circular="circular" autoplayInterval="3000" [numVisible]="2" [numScroll]="1" headerText="Need" [value]="need">
        <ng-template let-need pTemplate="item">
            <div class="">
                    <div class="ui-grid ui-grid-responsive">
                        <div class="">
                            <div class="">
                                <div class="">
                                    <div class="col mb-4">
                                        <div class="card">
                                            <div class="back_img">
                                                <img src="{{need.img}}" alt="Un seguro para tu mascota">
                                            </div>
                                            <div class="card-body">
                                                <h2 class="card-title">{{need.title}}</h2>
                                                <p class="none_mobile txt_description">{{need.description}}</p>
                                                <div class="txt_c">
                                                    <button class="btn btn-outline-secondary btn-lg btn-block mb_1">{{need.btn}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div> 
                            </div>  
                        </div>
                    </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
