.need{
    margin-left: -30px;
    margin-right: -30px;
    position: relative;
    padding: 15px;
}
.back_need{
    background-color: #A8D0DA;
    height: 340px;
    width: 100%;
    padding-top: 30px;
    position: absolute;
    left: 0px;
}
.card_float{
    margin: 0 auto;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 40px;
}
.need .card{
    text-align: center;
    padding: 10px 30px 10px 30px;
}
.card-body{
    text-align: center;
}
.btn{
    width: 60%;
}
img{
    height: 70px;
}
.card-title{
    height: 30px;
}
.txt_description{
    height: 190px;
}
@media (min-width:1300px){
    .card-title{
        height: 40px;
    }
    .txt_description{
        height: 120px;
    }
}
@media (min-width:992px) and (max-width:1300px){
    .card-title{
        height: 30px;
    }
    .txt_description{
        height: 95px;
    }
}
@media (max-width:992px){
    .txt_description{
        height: 135px;
    }
    .btn{
        width: 80%;
    }
}
@media (max-width:767px){
    .need .card{
        padding: 10px 0px 10px 0px;
    }
    img{
        height: 35px;
    }
    .back_need{
        margin-top: 40px;
    }
    .card-title{
        height: 75px;
        font-size: 17px;
    }
    .btn{
        border: 1px solid #CE0000;
        color: #CE0000;
        height: 30px;
        border-radius: 4px;
        opacity: 1;
        z-index: 9999;
    }
    .back_need{
        height: 225px;
    }
}