.footer{
    background-color: #CE0000;
    padding: 5px 0px 0px 35px;
}

.footer_legal{
    background-color: #D0D0D0;
    font-size: 11px;
    padding: 20px 35px 0px 35px;
}

.footer p{
    font-size: 11px;
    color: white;
    font-family: "RobotoBold", sans-serif;
}

.icon_redes{
    margin-top: 5px;
    justify-content: flex-end;
    padding-right: 60px;
}

.icon_redes img{
    padding-left: 25px;
    height: 15px;
}

.links_footer{
    font-size: 11px;
    padding: 10px 10px 10px 0px;
    background-color: #ce0000;
    z-index: 1;
    margin-top: -5px;
}

.links_footer a{
    color: white;
    padding: 0px 3px 0px 3px;
    text-decoration: none;
}

.inscripcion{
    margin-top: -13px;
}

.txt_w{
    color: white;
}

.txt_upper{
    text-transform: uppercase;
    font-family: '$RobotoRegular', sans-serif;
}

ul li {
    text-decoration: none;
    list-style: none;
}

.d_flex{
    display: flex;
}

.txt_l {
    text-align: left;
}

.txt_r{
    text-align: right;
}

.mt-25{
    margin-top: 2.5rem;
}

.pl-40{
    padding-left: 40px;
}

.pl-35{
    padding-left: 35px;
}

.mr-40{
    margin-right: 40px;
}

@media (min-width: 0px) and (max-width: 767px) {
    .footer{
        padding: 0;
    }
    .icon_redes{
        width: 100%;
        justify-content: center;
        margin: 8px auto;
        padding-right: 20px;
    }
    .footer_legal{
        text-align: center!important;
    }
    .footer_legal .txt_r{
        text-align: center!important;
    }
  }

