<div class="row footer">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12 none_mobile">
          <div class="txt_w links_footer">
            <a href="http://forms.mapfre.com.ar">MAPFRE.com.ar</a> |
            <a href="https://www.mapfre.com.ar/seguros-ar/atencion-asegurado/">Servicio de atención al asegurado</a> |
            <a href="https://www.mapfre.com.ar/seguros-ar/politica-privacidad/">Política de privacidad</a> |
            <a href="https://www.mapfre.com.ar/seguros-ar/datos-personales/">Datos personales</a> |
            <a href="https://www.mapfre.com.ar/seguros-ar/defensor-asegurado/">Defensor del asegurado</a> |
            <a href="http://forms.mapfre.com.ar/clientes/atencion-al-cliente.html">Contactanos</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 txt_r">
            <div class="d_flex icon_redes">
                <div>
                  <a href="https://www.instagram.com/mapfre_ar">
                    <img src="assets/logo-instagram.png" alt="">
                  </a>
                </div>
                <div>
                  <a href="https://www.facebook.com/mapfre.ar">
                    <img src="assets/logo-facebook.png" alt="">
                  </a>
                </div>
                <div>
                  <a href="https://www.youtube.com/user/MapfreArgentina">
                    <img src="assets/logo-youtube.png" alt="">
                  </a>
                </div>
                <div>
                  <a href="https://www.linkedin.com/company/mapfre">
                    <img src="assets/logo-linkedin.png" alt="">
                  </a>
                </div>
            </div>
        </div> 
</div>
    <div class="row footer_legal">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="legal">
                En caso de que el reclamo no haya sido resuelto o haya sido desestimado, total o parcialmente, o que haya sido
                denegada su admisión, podrá comunicarse con la Superintendencia de Seguros de la Nación por teléfono al
                0800-666-8400, correo electrónico a <b>denuncias@ssn.gob.ar</b> o formulario web a través de
                <b>www.argentina.gob.ar/ssn</b>. La entidad aseguradora dispone de un Servicio de Atención al Asegurado que
                atenderá las consultas y reclamos que presenten los tomadores de seguros, asegurados, beneficiarios y/o
                derechohabientes. El Servicio de Atención al Asegurado está integrado por: <br />
              </p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <p class="legal">
                <b>Responsable: Andrea Mansilla, (0342)415-4598</b> /
                <b>Suplente: Gabriela Ferrando, (0342)415-4598</b> <br /><br />
                <b>MAPFRE ARGENTINA © 2019 Todos los derechos reservados</b>
            </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="legal txt_r">
                <img src="assets/int_seguros.png" alt="">
                <p class="inscripcion">
                    Número de inscripción en SSN 213/699
                </p>
            </div>
        </div>
    </div>