p, h1, h2, h3{
    font-family: "Roboto", sans-serif;
}
.menu{
    background-color: #FAFAFA;
}
.menu .card{
    padding: 10px;
    background-color: transparent;
    margin-bottom: 0;
    border: none;
}
.active{
    background-color: transparent!important;
    box-shadow: 8px 8px 8px #00000029!important;
}
.b_state.active{
    border-right: 8px solid #64D92F!important;
}
.b_medium.active{
    border-right: 8px solid #FF6C00!important;
}
.b_null.active{
    border-right: 8px solid gray!important;
}
.card img{
    width: 35px;
    margin-top: 25px;
    margin-left: 10%;
}
.menu .card .card-block{
    padding: 0px;
}
.menu .card .date_menu{
    padding-top: 5px;
    color: #303855;
}
.menu .card-title{
    margin-top: 0px;
    font-weight: 500;
    color: #303855;
    text-transform: uppercase;
    font-size: 1.2em;
}
.state {
    margin-top: 3px;
}
.state span{
    padding: 2px 10px 2px 10px;
    background-color: #64D92F;
    border-radius: 30px;
    color: white;
    font-size: 0.9em;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border: 1px solid rgba(0,0,0,.125);
}
.medium span{
    background-color: #FF6C00!important;
}
.null span{
    background-color: transparent!important;
    border: 1px solid gray;
    color: gray;
}
.date_menu p{
    margin-top: -10px;
    font-size: 12px;
    font-weight: 500;
}
.date_menu span{
    font-weight: 400;
}
a{
    text-decoration: none;
}
.b_b{
    border-bottom: 2px solid #29304C;
    border-left: none;
    width: 100%;
    border-right: none;
    border-top: none;
}
.line_expand{
    margin-bottom: -15px;
}
.title_expand p{
    height: 20px;
    border-bottom: 1px solid #29304C;
    width: 100%;
    text-align: center;
    color: #29304C;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.mat-expansion-panel-header {
    height: 80px;
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    border-radius: inherit;
}
.b_l{
 border-left: 1px solid gray;
 height: 100%;
}
.title_expand .glyphicon{
    font-size: 10px;
    margin-top: -10px;
    text-align: center;
}
.line_expand_icon{
    text-align: center;
    color: #29304C;
}
@media (min-width: 992px) and (max-width:1199px) {
    .card img{
        width: 35px;
        margin-left: 0px;
    }
}
@media (min-width: 992px) and (max-width:1092px) {
    .card img{
        margin-left: -7px;
    }
    .state{
        margin-left: -5px;
    }
    .menu .card .date_menu{
        margin-left: -5px;
    }
    .menu .card-title{
        margin-left: -5px;
    }
}
p-button {
    display: block;
}