<div class="menu">
    <div class="{{ polizas.state }}" *ngFor="let polizas of poliza">
        <p-button>
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <img src="{{polizas.img}}" alt="">
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 b_l">
                            <h2 class="card-title">{{ polizas.nombre }}</h2>
                            <div class="date_menu">
                                <p class="card-text">N° de póliza: <span class="">{{ polizas.numero }}</span> </p>
                                <p class="card-text">Riesgo: <span class="">{{ polizas.dominio }}</span> </p>
                            </div>
                            <div class="state {{ polizas.estado_activo }}">
                                <span href="#" class="">{{ polizas.estado }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-button>
    </div>
    <div class="mt_1"> 
        <p-accordion [multiple]="true">
            <p-accordionTab header="Ver más">
                <div class="b_state">
                    <p-button>
                        <div class="card b_state">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <img src="assets/im_dashboard/polizas/mascota.png" alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 b_l">
                                        <h2 class="card-title">Moto</h2>
                                        <div class="date_menu">
                                            <p class="card-text">N° de póliza: <span class="">1234567</span> </p>
                                            <p class="card-text">Riesgo: <span class="">1234</span> </p>
                                        </div>
                                        <div class="state">
                                            <span href="#" class="">Vigente</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-button>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
