<div class="content_log">

    <!--Generar contraseña inicio-->
    <div class="generate" *ngIf="generate"> 
        <div class="title_form mb_5">
            <h3>
                Generá tu contraseña
            </h3>
        </div>
    
        <div class="ui-inputgroup mb_2">
            <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
            <input type="password" pPassword placeholder="Nueva contraseña de 4 dígitos" />
        </div>
    
        <div class="ui-inputgroup mb_5">
            <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
            <input type="password" pPassword placeholder="Repetir contraseña" />
        </div>
        
        <div class="">
            <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)="showBasicDialogs()">Confirmar contraseña</button>
        </div>
        <div>
            <p class="text-center txt_link">¿No conoces este mail? <br /><a href="#" class="forgotPass">LLAMANOS AL 0800-MAPFRE</a>.</p>
        </div>
    </div>
    <!--Generar contraseña inicio-->

    <!--Ingresar a la aplicación inicio-->
    <div class="initial" *ngIf="initial"> 
        <div class="title_form">
            <h3>
                Elegí tu forma de acceder para ver más detalles:
            </h3>
        </div>   
        <div class="row mb_2">
            <div class="col-12 mb_2">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
                    <p-dropdown [options]="document" [(ngModel)]="selectedDoc" placeholder="DNI" optionLabel="name" [showClear]="true"></p-dropdown>
                </div> 
            </div>
            <div class="col-12">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
                    <input type="text" pInputText placeholder="Ingrese el número" />  
                </div> 
            </div>
        </div> 

        <div class="ui-inputgroup mb_3">
            <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
            <input type="password" pPassword placeholder="Contraseña" />
        </div>
        

        <div class="row mb_2">
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-5 txt_l checkbox-label">
                <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input type="checkbox">
                        <span class="checkbox-custom rectangular"></span>
                    </label>
                    <div class="check-title recordar">Recordarme</div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-7 col-xs-7 txt_r pl_0">
                <div class="p_forgotPass">
                <a href="#" class="forgotPass" (click)="recupero = !recupero; initial = !initial">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>

        <div class="">
            <button class="btn btn-outline-light btn-lg btn-block mb_1" [routerLink]="['dashboard']">Ingresar</button>
        </div>

        <div class="mb_2">
            <button class="btn btn-outline-light btn-lg btn-block socialLogin mb_1">
                <div class="f_l">
                    <img src="assets/logo facebook.png" alt="" class="btn_icon">
                </div>
                <div class="">
                    <p class="txt_icon">Ingresar con Facebook</p>
                </div>
            </button>
            <button class="btn btn-outline-light btn-lg btn-block socialLogin mb_1">
                <div class="f_l">
                    <img src="assets/logo google.png" alt="" class="btn_icon">
                </div>
                <div class="">
                    <p class="txt_icon">Ingresar con Google</p>
                </div>
            </button>
        </div>
        <div>
            <p class="text-center txt_link">¿No estás registrado? <a href="#" class="forgotPass" (click)="registry = !registry; initial = !initial" >Registrate</a>.</p>
        </div>
    </div>
    <!--Ingresar a la aplicación Fin-->

    <!--Recuperar contraseña inicio-->
    <div class="recupero" *ngIf="recupero">
        <div class="section_form_log">
            <div class="title_form mb_3">
                <h3>
                    Te ayudamos a recuperar <br />
                    tu contraseña.
                </h3>
                <p class="txt_l txt_legend_title">Enviaremos un correo a tu dirección de mail registrada</p>
            </div>
        
            <div class="mb_4 txt_mail_recover">
                <h3>jxxxxxxx@gmail.com</h3>
            </div>
        
            <div class="">
                <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)="showBasicDialog()">Recuperá tu contraseña</button>
            </div>
            <div>
                <p class="text-center txt_link">¿No estás registrado? <a href="#" class="forgotPass" (click)="recupero = !recupero; registry = !registry" >Registrate</a>.</p>
            </div>
        </div>
    </div>
    <!--Recuperar contraseña fin-->

    <!--Registrarse inicio-->
    <div class="registry" *ngIf="registry">
        <div class="section_form_log">
            <div class="content_log"> 
                <div class="title_form">
                    <h3>
                        Aún no estás registrada
                    </h3>
                    <p class="txt_l txt_legend_title">Ingresá tus datos para poder acceder.</p>
                </div>    
                <div class="row mb_2">
                    <div class="col-12 mb_2">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
                            <p-dropdown [options]="document" [(ngModel)]="selectedDoc" placeholder="DNI" optionLabel="name" [showClear]="true"></p-dropdown>
                        </div> 
                    </div>
                    <div class="col-12">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
                            <input type="text" pInputText placeholder="Ingrese el número" />  
                        </div> 
                    </div>
                </div> 
        
                <div class="ui-inputgroup mb_2">
                    <span class="ui-inputgroup-addon"><i class="pi pi-envelope" style="line-height: 1.25;"></i></span>
                    <input type="text" pInputText placeholder="E-mail *" />       
                </div>
            
                <div class="ui-inputgroup mb_2">
                    <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
                    <input type="password" pPassword placeholder="Contraseña de 4 dígitos" />
                </div>
        
                <div class="ui-inputgroup mb_5">
                    <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
                    <input type="password" pPassword placeholder="Repetir contraseña" />
                </div>
                
                <div class="">
                    <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)=" registry = !registry;question = !question ">Registrate</button>
                </div>
            
        </div>
        <div>
            <p class="text-center txt_link">Ya estoy registrado <a href="#" class="forgotPass" (click)=" initial = !initial; registry = !registry " >Login</a>.</p>
        </div>
        </div>
    </div>
    <!--Registrarse Fin-->

    <!--Questions inicio-->
    <div class="questions" *ngIf="question">
        <div class="section_form_log">
            <div class="content_log"> 
                <div class="title_form">
                    <h3>
                        Para poder ingreasar por favor responder las siguinetes preguntas
                    </h3>
                    <p class="txt_l txt_legend_title mt_2">¿Texto para colocar la pregunta correspondiente?</p>
                    <div class="ui-g mt_2 mb_2 txt_l">
                        <div class="col-12 mt_2"><p-radioButton name="group2" value="Option 1" label="Option 1" inputId="preopt1"></p-radioButton></div>
                        <div class="col-12 mt_2"><p-radioButton name="group2" value="Option 2" label="Option 2" inputId="preopt2"></p-radioButton></div>
                        <div class="col-12 mt_2"><p-radioButton name="group2" value="Option 3" label="Option 3" inputId="preopt3"></p-radioButton></div>
                    </div>
                </div> 
                
                <div class="">
                    <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)=" questionTwo = !questionTwo;question = !question ">Siguiente</button>
                </div>
            
        </div>
        <div>
            <p class="text-center txt_link">Ya estoy registrado <a href="#" class="forgotPass" (click)=" initial = !initial; registry = !registry " >Login</a>.</p>
        </div>
        </div>
    </div>
    <!--Questions Fin-->

    <!--QuestionsTwo inicio-->
    <div class="questionsTwo" *ngIf="questionTwo">
        <div class="section_form_log">
            <div class="content_log"> 
                <div class="title_form">
                    <h3>
                        Para poder ingreasar por favor responder las siguinetes preguntas
                    </h3>
                    <p class="txt_l txt_legend_title mt_2">¿Texto 2222222 para colocar la pregunta correspondiente?</p>
                    <div class="ui-g mt_2 mb_2 txt_l">
                        <div class="col-12 mt_2"><p-radioButton name="group2" value="Option 1" label="Option 1" inputId="preopt1"></p-radioButton></div>
                        <div class="col-12 mt_2"><p-radioButton name="group2" value="Option 2" label="Option 2" inputId="preopt2"></p-radioButton></div>
                        <div class="col-12 mt_2"><p-radioButton name="group2" value="Option 3" label="Option 3" inputId="preopt3"></p-radioButton></div>
                    </div>
                </div> 
                
                <div class="">
                    <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)=" questionThree = !questionThree;questionTwo = !questionTwo ">Siguiente</button>
                </div>
            
        </div>
        <div>
            <p class="text-center txt_link">Ya estoy registrado <a href="#" class="forgotPass" (click)=" initial = !initial; registry = !registry " >Login</a>.</p>
        </div>
        </div>
    </div>
    <!--QuestionTwo Fin-->

    <!--QuestionThree inicio-->
    <div class="questionThree" *ngIf="questionThree">
        <div class="section_form_log">
            <div class="content_log"> 
                <div class="title_form">
                    <h3>
                        Para poder ingreasar por favor responder las siguinetes preguntas
                    </h3>
                    <p class="txt_l txt_legend_title mt_2">¿Texto 33333333 para colocar la pregunta correspondiente?</p>
                    <div class="ui-g mt_2 mb_2 txt_l">
                        <div class="col-12 mt_2"><p-radioButton name="group2" value="Option 1" label="Option 1" inputId="preopt1"></p-radioButton></div>
                        <div class="col-12 mt_2"><p-radioButton name="group2" value="Option 2" label="Option 2" inputId="preopt2"></p-radioButton></div>
                        <div class="col-12 mt_2"><p-radioButton name="group2" value="Option 3" label="Option 3" inputId="preopt3"></p-radioButton></div>
                    </div>
                </div> 
                
                <div class="">
                    <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)=" initial = !initial;questionThree = !questionThree ">Siguiente</button>
                </div>
            
        </div>
        <div>
            <p class="text-center txt_link">Ya estoy registrado <a href="#" class="forgotPass" (click)=" initial = !initial; registry = !registry " >Login</a>.</p>
        </div>
        </div>
    </div>
    <!--QuestionThree Fin-->


    <!--Ingresar con DNI inicio-->
    <div class="query" *ngIf="query">
        <div class="section_form_log">
            <div class="content_log"> 
                    <div class="title_form  mb_2">
                        <h3>
                            Para acceder a tu <span class="txt_upper">Espacio Mapfre</span>
                        </h3>
                        <p class="txt_l">Ingresá tu número de documento o CUIT:</p>
                    </div> 
                    <div class="row mb_2">
                        <div class="col-12 mb_2">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
                                <p-dropdown [options]="document" [(ngModel)]="selectedDoc" placeholder="DNI" optionLabel="name" [showClear]="true"></p-dropdown>
                            </div> 
                        </div>
                        <div class="col-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
                                <input type="text" pInputText placeholder="Ingrese el número" />  
                            </div> 
                        </div>
                    </div>   
                    
                    
                    <div class="">
                        <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)="showBasicDialog()">Ingresar</button>
                    </div>
                
            </div>
            <div>
                <p class="text-center txt_link">¿Ya estás registrado? 
                    <a href="#" class="forgotPass" (click)=" initial = !initial; query = !query ">Ingresá</a>
                    <br />
                    <a href="#" class="forgotPass" (click)=" registry = !registry; query = !query ">No estoy registrado</a>
                </p>
            </div>
        </div>
    </div>
    <!--Ingresar con DNI Fin-->

</div>

<p-dialog header="" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <!--<div>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <p class="mt_2">
            Chequeá tu mail y segyí las indiaciónes <br/>
            para poder ingresar
        </p>
    </div>-->
    <div>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <h2>¡Hola Juan Manuel!</h2>
        <p class="mt_2">
            Te hemos enviado un mail a yu casilla <br/>
            jxxxxx@xxx.com
        </p>
        <p class="mt_2">
            Para activar tu cuenta seguí los pasos <br/>
            que te hemos enviado
        </p>
    </div>
</p-dialog>

<p-dialog header="" [(visible)]="displayBasics" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <h2>¡Hola Juan Manuel!</h2>
        <p class="mt_2">
            Te hemos enviado un mail a yu casilla <br/>
            jxxxxx@xxx.com
        </p>
        <p class="mt_2">
            Para activar tu cuenta seguí los pasos <br/>
            que te hemos enviado
        </p>
    </div>
</p-dialog>