.header_mobile{
    background-color: #E3474B;
    height: 25px;
    text-align: right;
}
.txt_icon{
    margin: 1px 22px 0px 0px;
    font-weight: initial;
}
.header_mobile .img_logo img{
    text-align: right;
    width: 85px;
    margin: -28px 15px 0px 0px;
}
.img_logo img{
    width: 130px;
}
.img_people img{
    width: 315px;
    margin-left: 25px;
}
.br{
    display: block;
}
.txt_blue{
    color: #416E97;
}
.txt_red{
    color: #E3474B;
}
.ui-dialog .ui-dialog-content .glyphicon{
    font-size: 50px;
}
/*LOGIN FORM*/
.content_log input {
    width: 100%;
    border: 1px solid #303956;
    padding: 10px 10px 10px 10px;
    height: 30px;
    border-radius: 0;
    font-size: 12px;
} 
.recordar label{
    font-size: 11px
}
.p_recordar{
    position: absolute;
    margin: -24px 0px 0px 20px;
}
.p_forgotPass{
    margin: -4px 0px 0px 0px;
}
.content_log .ui-inputgroup .ui-inputgroup-addon {
    border-color: #303956;
    border-right: none;
    background-color: transparent;
    color: #303855;
    padding: 4px 0px 0px 0px;
    min-width: 2em;
    border-radius: 0;
}
.content_log button {
    width: 100%;
}
.content_log button:focus {
    border-color: #CE0000;
}
.socialLogin{
    background-color: #FFFFFF67;
    color: #303855;
    opacity: 1;
    border: 1px solid #303855;
}
@supports (-webkit-appearance:none) {
.socialLogin{ 
    background-color: transparent!important;
    color: #303855!important;
    opacity: 1!important;
    border: 1px solid #313956!important; 
}
}
@media all and (-ms-high-contrast:none) {
.center_container{ margin-left: auto; margin-right: auto; } /* IE10 */
*::-ms-backdrop, .center_container { margin-left: auto; margin-right: auto; } /* IE11 */
.socialLogin{ 
    background-color: transparent!important;
    color: #303855!important;
    opacity: 1!important;
    border: 1px solid #313956!important; 
} /* IE10 */
.socialLogin:hover{
    border: 1px solid #CE0000!important;
    color: #CE0000!important; 
    }
.content_log input{
    padding: 1px 0px 0px 15px;
}
*::-ms-backdrop, .socialLogin { 
    background-color: transparent!important;
    color: #303855!important;
    opacity: 1!important;
    border: 1px solid #313956!important;
    } /* IE11 */
    *::-ms-backdrop, .socialLogin:hover{
    border: 1px solid #CE0000!important;
    color: #CE0000!important; 
    }
    *::-ms-backdrop, .content_log input{
    padding: 1px 0px 0px 15px;
}
}
.p_forgotPass{
    margin: -4px 0px 0px 0px;
}
.content_log .title_form h3{
    text-align: left;
    color: #313855;
    line-height: 1.1;
}
.forgotPass{
    font-size: 11px;
    color: #E3474B;
    width: 100%;
}
span.sp_red {
    background: #FF2800;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.4em;
    text-align: center;
    width: 1.3em; 
    position: absolute;
    font-size: 11px;
    margin: 6px 0px 0px 4px;
}
span.sp_green{
    background: #86E50B;
}
/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    clear: both;
    margin-top: 0;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 0;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
    border: 1px solid #323858;
}
.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 0;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 1px solid #323858;
}
.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 0;
    border: solid #E3474B;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
}
.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 3px;
    top: 1px;
    width: 6px;
    height: 7px;
    border: solid #E3474B;
    border-width: 0 1px 1px 0;
    background-color: transparent;
    border-radius: 0;
}
/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 0;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);	
}
.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 0;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
}
/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.circular {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}
.checkbox-label input:checked ~ .checkbox-custom.circular {
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}
.checkbox-label input:checked ~ .checkbox-custom.circular::after {
    border: solid #0067FF;
    border-width: 0 2px 2px 0;
}
.checkbox-label .checkbox-custom.circular::after {
    border-radius: 50%;
}
.checkbox-label .checkbox-custom.circular::before {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}
.checkbox-label input:checked ~ .checkbox-custom.circular::before {
    border-radius: 50%;
}
.check-title{
    position: absolute;
    margin: -5px 0px 0px 20px;
    font-size: 11px;
}
.example-container {
    display: flex;
    flex-direction: column;
}
.example-container > * {
    width: 100%;
}
.example-right-align {
    text-align: right;
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
input.example-right-align {
    -moz-appearance: textfield;
}
.socialLogin:hover{
    border: 1px solid #CE0000!important;
    color: #CE0000!important; 
}
p-dropdown{
    width: 100%;
}
@media (min-width: 2001px){
    .txt_link {
        font-size: 15px!important;
        left: 40%;
    }
    .forgotPass{
        font-size: 14px;
    }
    .title_form h3 {
        font-size: 1.6em;
    }
    .title_form p {
        font-size: 16px;
    }
    .section_form_log .btn{
        height: 45px;
        font-size: 16px;
    }
    .content_log input {
        height: 38px;
        font-size: 14px;
    }
}
@media (min-width: 1751px) and (max-width: 2000px){
    .txt_link {
        left: 38%;
    }
}
@media (min-width: 1301px) and (max-width: 1750px){
    .txt_link {
        left: 35%;
    }
}
@media (min-width: 1100px) and (max-width: 1300px){
    .txt_link {
        left: 30%;
    }
}