<div class="detalles mt_3">
    <div class="title_section d_flex">
        <div class="number">
            <h1>3</h1>
        </div>
        <div>
            <h2>Detalles</h2>
        </div>
        <div>
            <i class="pi pi-question-circle" pTooltip="Texto de Tooltip"></i>
        </div>
    </div>
    <div class="card">
        <div class="row txt_c">
            <div class="col-md-12">
                <div class="title_switch">
                    ¿Conducia el asegurado?
                </div>
                <div class="d_flex txt_justifi_c">
                    <div class="pr_1">
                        <p class="label_switch">NO</p>
                    </div>
                    <div>
                        <p-inputSwitch [(ngModel)]="checked2" (click)="showModalDialogTitular()"></p-inputSwitch>
                    </div>
                    <div class="pl_1">
                        <p class="label_switch">SI</p>
                    </div>
                </div>
                <div class="table_list txt_l">
                    <div class="terceros_table center_table">
                        <p-table [value]="conductor">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Nombre y apellido</th>
                                    <th>Tipo de relación</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" *ngFor="let conductores of conductor">
                                <tr>
                                    <td class="item_bold">{{ conductores.nombre }}</td>
                                    <td>{{ conductores.relacion }}</td>
                                    <td>{{ conductores.estado }}</td>
                                    <td>
                                        <button class="btn" (click)="showModalDialogTitular()">
                                            Editar
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="title_section d_flex">
                    <div>
                        <h3>Ubicación del siniestro</h3>
                    </div>
                    <div>
                        <i class="pi pi-question-circle" pTooltip="Texto de Tooltip"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-12 txt_l">
                <p>¿Donde sucedio?</p>
            </div>
            <div class="col-md-12 txt_l">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input class="mb_1" type="text" pInputText pKeyFilter="alphanum" placeholder="Calle / altura">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <input class="mb_1" type="text" pInputText pKeyFilter="alphanum" placeholder="CP">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <p-dropdown class="mb_1" [options]="cities" [(ngModel)]="selectedCity" placeholder="Localidad" optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <p-dropdown class="mb_1" [options]="prov" [(ngModel)]="selectedProv" placeholder="Provincia" optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13142.901852735304!2d-58.565810549999995!3d-34.56050585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1584542710133!5m2!1ses-419!2sar" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-md-12">
                <div class="d_flex mt_1">
                    <div>
                        <p-checkbox name="group1" value="denuncia" label="Hice la denuncia policial" inputId="dp"></p-checkbox>
                    </div>
                    <div>
                        <p-checkbox name="group1" value="Asistencia" label="Solicité asistencia" inputId="sa"></p-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="d_flex f_r mt_1">
                    <div class="">
                        <button class="btn btn-outline-secondary btn-lg btn-block mb_1" (click)="showModalDialogGuardar()">Guardar</button>
                    </div>
                    <div class="">
                        <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)="showModalDialogFinalizar()">Finalizar denuncia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal TITULAR (inicio)-->
<p-dialog header="Datos del conductor no titular" [(visible)]="displayModalTitular" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false">
    <p-header>
        <div class="icon">
            <img src="assets/modals/Datos.png" alt="">
        </div>
    </p-header>
    <app-titular></app-titular>
    <p-footer class="">
        <button class="btn btn-outline-secondary btn-lg btn-block mb_1 mr_1 no_b" (click)="displayModalTitular=false">Atras</button>
        <button type="submit" class="btn btn-outline-light btn-lg btn-block mb_1" (click)="displayModalTitular=false">Terminar</button>
    </p-footer>
</p-dialog>
<!---->
<!--Modal FINALIZAR (inicio)-->
<p-dialog header="" [(visible)]="displayModalFinalizar" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false">
    <p-header>
        <div class="icon">
            <img src="assets/modals/Confirmación.png" alt="">
        </div>
    </p-header>
    <app-finalizar></app-finalizar>
    <p-footer class="txt_c">
        <button type="submit" class="btn btn-outline-light btn-lg btn-block mb_1" (click)="displayModalFinalizar=false">Finalizar</button>
    </p-footer>
</p-dialog>
<!---->
<!--Modal GUARDAR (inicio)-->
<p-dialog header="" [(visible)]="displayModalGuardar" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false">
    <p-header>
        <div class="icon">
            <img src="assets/modals/Datos.png" alt="">
        </div>
    </p-header>
    <app-guardar></app-guardar>
    <p-footer class="">
        <button class="btn btn-outline-secondary btn-lg btn-block mb_1 mr_1" (click)="displayModalGuardar=false">Guardar denuncia</button>
        <button type="submit" class="btn btn-outline-light btn-lg btn-block mb_1" (click)="displayModalGuardar=false">Continuar Denuncia</button>
    </p-footer>
</p-dialog>
<!---->