<div class="">
    <div class="txt_c">
        <h2>Viviana tu denuncia fué realizada</h2>
        <p>
            A la brevedad estaremos notificando los pasos a seguir a travez de tu portal digital.<br/>
            Recorda continuarlo antes de las <span class=""> 72hs </span>.
        </p>
        <p>
            Tu numero de registro de siniestro es <br/>
            <span class=""> 2099887766555 </span>
        </p>
    </div>
</div>