<div class="content_modal">
    <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    Datos del titular
                </h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="alpha" formControlName="name" placeholder="Nombre y apellido"/>
                <p-message severity="error" text="Completar Nombre y apellido" *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="num" formControlName="doc" placeholder="Nro. de documento"/>
                <p-message severity="error" text="Completar Nro. de documento" *ngIf="!userform.controls['doc'].valid&&userform.controls['doc'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="num" formControlName="tel" placeholder="Tel. de contacto"/>
                <p-message severity="error" text="Completar Tel. de contacto" *ngIf="!userform.controls['tel'].valid&&userform.controls['tel'].dirty"></p-message>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="email" formControlName="mail" placeholder="Email"/>
                <p-message severity="error" text="Completar Email" *ngIf="!userform.controls['mail'].valid&&userform.controls['mail'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <p-dropdown class="mb_1" [options]="aseguradoras" formControlName="aseguradora"></p-dropdown>
                <p-message severity="error" text="Seleccionar Aseguradora" *ngIf="!userform.controls['aseguradora'].valid&&userform.controls['aseguradora'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="num" formControlName="poliza" placeholder="Nro. de Pòliza"/>
                <p-message severity="error" text="Completar Nro. de Pòliza" *ngIf="!userform.controls['poliza'].valid&&userform.controls['poliza'].dirty"></p-message>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt_05">
                <h4>¿Que se dañó?</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="email" formControlName="dom" placeholder="Domicilio"/>
                <p-message severity="error" text="Completar Domicilio" *ngIf="!userform.controls['dom'].valid&&userform.controls['dom'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="alpha" formControlName="cp" placeholder="Código Postal"/>
                <p-message severity="error" text="Completar CP" *ngIf="!userform.controls['cp'].valid&&userform.controls['cp'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="num" formControlName="telConductor" placeholder="Tel. contacto"/>
                <p-message severity="error" text="Completar Tel. de contacto" *ngIf="!userform.controls['telConductor'].valid&&userform.controls['telConductor'].dirty"></p-message>
            </div>
            <div class="col-md-12">
                <textarea id="" rows="4" placeholder="Relata lo sucedido">
                    Relata lo sucedido
                </textarea>
            </div>
        </div>
    </form>
</div>