.action{
    margin-top: 40px;
}
.back_img{
    background-color: gray;
    height: 200px;
}
.card-title{
    text-align: center;
    text-transform: uppercase;
    font-family: "RobotoBold", sans-serif;
    line-height: 1.2;
}
.card-body{
    padding: 15px 15px 15px 15px;
    height: 180px;
}
.card-body-text{
    height: 50px;
    text-align: center;
}
.title_expand p{
    height: 20px;
    border-bottom: 1px solid #29304C;
    width: 100%;
    text-align: center;
    color: #29304C;
}
.line_expand{
    margin-bottom: -15px;
}
.b_r{
    border-right: 1px solid gray;
    height: 100%;
}
.title_expand .glyphicon{
    font-size: 10px;
    margin-top: -10px;
    text-align: center;
}
.line_expand_icon{
    text-align: center;
    color: #29304C;
}
.back_img{
    background-image: url(../../../assets/im_dashboard/imagen-pagos.png);
    background-color: gray;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.back_img_delation{
    background-image: url(../../../assets/im_dashboard/imagen-denuncia.png);
    background-color: gray;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}.btn{
    width: 90%;
}
@media (min-width: 576px) and (max-width: 767px) {
    .card-body-text{
        height: 70px;
    }
    .card-body{
        height: 200px;
    }
    .card-title{
        font-size: 1.3em;
        height: 28px;
    }
}
@media (min-width: 0px) and (max-width: 575px) {
    .card-body-text{
        height: auto;
    }
    .card-body{
        height: auto;
    }
    .card-title{
        font-size: 1.3em;
        height: auto;
    }
}