<div class="action">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="back_img">
                    <img src="" alt="">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Pagos</h2>
                    <p class="card-body-text">Realizá desde aqui el pago de tus pólizas y gestioná tus medios de pagos</p>
                    <div class="txt_c">
                        <button class="btn btn-outline-secondary btn-lg btn-block mb_1">Gestionar mis pagos</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="card">
                <div class="back_img_delation">
                    <img src="" alt="">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Siniestros</h2>
                    <p class="card-body-text">Realizá desde aqui tu denuncia y gestioná tus siniestros</p>
                    <div class="txt_c">
                        <button class="btn btn-outline-light btn-lg btn-block mb_1">Ver y gestionar mis siniestros</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
