.card{
    padding: 0px 15px 0px 15px;
    background-color: #F5F5F5;
    border: none;
}
h1{
    font-size: 1.7em;
    font-weight: bold;
    color: #303754;
    text-transform: uppercase;
    font-family: "RobotoBold", sans-serif;
}
.btn{
    width: 100%;
    font-size: 0.9em;
}
.space_btn{
    margin-top: 20px;
}
.title_sumary{
    color: #6E6E6E;
    font-weight: bold;
    margin: 0;
}
.summary_date{
    margin-top: 18px;
    line-height: 1.3;
}
.summary_drop{
    padding: 10px 15px 10px 15px;
}
a,
a:hover{
    text-decoration: none;
    color: red;
}
.dropdown-menu {
    min-width: 350px;
    background-color: #F5F5F5;
    padding: 5px 15px 5px 15px;
    color: #DC0000;
}
@media (min-width: 0px) and (max-width: 575px) {
    .summary_date{
        margin: -20px 0px 0px 0px;
        line-height: 1.5;
    }
    .dropdown-menu {
        min-width: 100%;
        transform: translate3d(0px, -0px, 0px)!important;
        top: 35px!important;
    }
}
.dropdown_list{
    position: absolute;
    z-index: 1;
    background-color: #F5F5F5;
    padding: 10px 15px 0px 15px;
    border: 1px solid #ccc;
    width: 275px;
    cursor: pointer;
}
.list_auto{
    width: auto;
}
.dropdown-item{
    color: #6E6E6E;
}
.dropdown-item .glyphicon{
    color: #E3474B;
}
.dropdown-item .row:hover,
.dropdown-item .glyphicon:hover{
    color: #DC0000;
}
.icon_dow{
    margin: 1px 0px 0px 35px;
}
.icon_dow .pi{
    margin-right: 5px;
}
.btn .pi{
    color: #ce0000;
}
@media (max-width: 332px) {
    .icon_dow{
        margin-left: 32%;
    }
}
@media (min-width: 332px) and (max-width:360px){
    .icon_dow{
        margin-left: 34%;
    }
}
@media (min-width: 361px) and (max-width: 429px) {
    .icon_dow{
        margin-left: 36%;
    }
}
@media (min-width: 429px) and (max-width: 449px) {
    .icon_dow{
        margin-left: 38%;
    }
}
@media (min-width: 450px) and (max-width: 520px) {
    .icon_dow{
        margin-left: 40%;
    }
}
@media (min-width: 521px) and (max-width: 575px) {
    .icon_dow{
        margin-left: 42%;
    }
}
@media (min-width: 576px) and (max-width: 674px) {
    .icon_dow{
        margin-left: 30%;
    }
}
@media (min-width: 675px) and (max-width: 719px) {
    .icon_dow{
        margin-left: 32%;
    }
}
@media (min-width: 719px) and (max-width: 767px) {
    .icon_dow{
        margin-left: 34%;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    h1{
        font-size: 1.5em;
    }
    .space_btn{
        margin-top: 5px;
    }
    .summary_date{
        font-size: 1em;
        margin-top: -15px;
    }
    .dropdown_list{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .summary_date{
        margin-top: -20px;
    }
}
@media (min-width: 768px) and (max-width: 877px) {
    .icon_dow{
        margin-left: 20%;
    }
}
@media (min-width: 878px) and (max-width: 991px) {
    .icon_dow{
        margin-left: 22%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .icon_dow{
        margin-left: 20%;
    }
}