<div class="summary">
    <div class="card">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row" *ngIf="collapse1">
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="pointer" (click)="collapse = !collapse; collapse3 = !collapse3; collapse2 = !collapse2; collapse1 = !collapse1;">
                            <h1>Auto | Póliza uno
                                <i class="pi pi-chevron-down"></i>
                            </h1>
                        </a>    
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="summary_date">
                            <div>
                                <p>Fecha de vigencia: <span>03/12/2019 al 03/12/2019</span></p>        
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="collapse2">
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="pointer" (click)="collapse = !collapse; collapse3 = !collapse3; collapse1 = !collapse1; collapse2 = !collapse2;">
                            <h1>Auto | Póliza uno
                                <i class="pi pi-chevron-up"></i>
                            </h1>
                        </a>    
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="summary_date">
                            <div>
                                <p>Fecha de vigencia: <span>03/12/2019 al 03/12/2019</span></p>        
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="only_mobile" *ngIf="collapse">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                    <p>Esta cobertura comprende la indemnización por los daños que el asegurado, o un conductor autorizado por éste, pueden ocasionarle a un tercero, por el vehículo asegurado o por la carga transportada en condiciones reglamentarias.</p>           
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <p class="title_sumary">Productor</p>
                                    <p>SD personal de la CIA.BS.AS.1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="title_sumary">Oficina comercial</p>
                                    <p>Empleados y flia Mapfre</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="title_sumary">Otro dato</p>
                                    <p>Tarjeta de circulación</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row space_btn">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary btn-lg btn-block mb_1" type="button" (click)="DropDescargas = !DropDescargas">
                                    <div class="d_flex icon_dow">
                                        <div>
                                            <i class="pi pi-download"></i>
                                        </div>
                                        <div>
                                            Descargas
                                        </div>
                                    </div> 
                                </button>
                                <div *ngIf="DropDescargas">
                                    <div class="dropdown_list">
                                        <div class="dropdown-item" href="#" >
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Tarjeta de circulación</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Comprobante de pago</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Póliza completa</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Certificado Mercosur</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Certificado libre deuda</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)="denuncia = !denuncia; content = !content">Hacé tu denuncias</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="none_mobile" *ngIf="collapse3">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <p>Esta cobertura comprende la indemnización por los daños que el asegurado, o un conductor autorizado por éste, pueden ocasionarle a un tercero, por el vehículo asegurado o por la carga transportada en condiciones reglamentarias.</p>           
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <p class="title_sumary">Productor</p>
                            <p>SD personal de la CIA.BS.AS.1</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="title_sumary">Oficina comercial</p>
                            <p>Empleados y flia Mapfre</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="title_sumary">Otro dato</p>
                            <p>Tarjeta de circulación</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row summary_drop">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <h2>
                Coberturas para tu poliza
            </h2>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6 col-xs-12 mt_1">
            <p-dropdown [options]="riesgos" [(ngModel)]="selectedRies" placeholder="Elegí tu vehículo" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
    </div>
</div>
<div *ngIf="denuncia">
    <app-denunciar></app-denunciar>
</div>
<div *ngIf="content">
    <app-content></app-content>
</div>
