<div class="detalles mt_3">
    <div class="title_section d_flex">
        <div class="number">
            <h1>3</h1>
        </div>
        <div>
            <h2>Detalles</h2>
        </div>
        <div>
            <i class="pi pi-question-circle" pTooltip="Texto de Tooltip"></i>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="title_section d_flex">
                    <div>
                        <h3>Ubicación del siniestro</h3>
                    </div>
                    <div>
                        <i class="pi pi-question-circle" pTooltip="Texto de Tooltip"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-12 txt_l">
                <p>¿Donde sucedio?</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <p-dropdown class="mb_1" [options]="lug" [(ngModel)]="selectedLug" placeholder="Lugar" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
            <!-- <div class="col-md-12 txt_l">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <p-dropdown class="mb_1" [options]="prov" [(ngModel)]="selectedProv" placeholder="Provincia" optionLabel="name" [showClear]="true"></p-dropdown>
                </div>
               <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input class="mb_1" type="text" pInputText pKeyFilter="alphanum" placeholder="Calle / altura">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <input class="mb_1" type="text" pInputText pKeyFilter="alphanum" placeholder="CP">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <p-dropdown class="mb_1" [options]="cities" [(ngModel)]="selectedCity" placeholder="Localidad" optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
                    
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="d_flex f_r mt_1">
                    <div class="">
                        <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)="showModalDialogFinalizar()">Finalizar denuncia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal TITULAR (inicio)-->
<p-dialog header="Datos del conductor no titular" [(visible)]="displayModalTitular" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false">
    <p-header>
        <div class="icon">
            <i class="pi pi-user"></i> 
     </div>
    </p-header>
    <app-titular></app-titular>
    <p-footer class="">
        <button class="btn btn-outline-secondary btn-lg btn-block mb_1 mr_1 no_b" (click)="displayModalTitular=false">Atras</button>
        <button type="submit" class="btn btn-outline-light btn-lg btn-block mb_1" (click)="displayModalTitular=false">Terminar</button>
    </p-footer>
</p-dialog>
<!---->
<!--Modal FINALIZAR (inicio)-->
<p-dialog header="" [(visible)]="displayModalFinalizar" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false">
    <p-header>
        <div class="icon">
            <img src="assets/modals/Confirmación.png" alt="">
     </div>
    </p-header>
    <app-finalizar></app-finalizar>
    <p-footer class="txt_c">
        <button type="submit" class="btn btn-outline-light btn-lg btn-block mb_1" (click)="displayModalFinalizar=false">Finalizar</button>
    </p-footer>
</p-dialog>
<!---->