<div class="title_dash">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="txt_upper">
                <h1>¡Hola <!--<span class="bl">viviana</span>-->!</h1>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="txt_upper title_right">
                <h1>Bienvenido a tu <span class="bl">espacio Mapfre</span></h1>
            </div>
        </div>
    </div>
</div>
