.title_dash{
    margin: 0;
}
.title_dash h1{
    color:#A8D0DA;
}
.title_right{
    float: right;
}
@media (min-width: 0px) and (max-width: 767px) {
    .title_right{
        float: left;
        margin-top: -30px;
    }
    .title_dash h1{
        font-size: 1.7em;
    }
  }