.float .btn{
    position: fixed;
    z-index: 9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 4px 0px 0px 0px;
    text-align: center;
    font-size: 18px;
    border: none;
    margin: 0;
    bottom: 5vh;
    right: 15px;
}
.small{
    width: 40px!important;
    height: 40px!important;
    margin-right: 5px!important;
}
.one{
    bottom: 5vh!important;
}
.two{
    bottom: 15vh!important;
    
}
.three{
    bottom: 23vh!important;
}
.four{
    bottom: 31vh!important;
}
.btn:hover{
    background-color: #CE0000!important;
    color: white!important;
    border-color: #CE0000!important;
}
img{
    width: 20px;
    margin-top: -7px;
}