<div class="float">


<div *ngIf="collapse">
    <button class="btn  btn-lg btn-block mb_1 four small" (click)="collapse = !collapse; collapse1 = !collapse1"> 
        <img src="assets/im_dashboard/Menu_flotante/Auxilio.png" alt="">
    </button>
    <button class="btn  btn-lg btn-block mb_1 three small" (click)="collapse = !collapse; collapse1 = !collapse1"> 
        <img src="assets/im_dashboard/Menu_flotante/Baja.png" alt="">
    </button>
    <button class="btn  btn-lg btn-block mb_1 two small" (click)="collapse = !collapse; collapse1 = !collapse1"> 
        <img src="assets/im_dashboard/Menu_flotante/Consultas.png" alt="">
    </button>
    <button class="btn  btn-lg btn-block mb_1 one" (click)="collapse = !collapse; collapse1 = !collapse1"> 
        <i class="pi pi-minus"></i>
    </button>
</div>    

<div *ngIf="collapse1">
    <button class="btn  btn-lg btn-block mb_1" (click)="collapse = !collapse; collapse1 = !collapse1"> 
        <i class="pi pi-comments"></i>
    </button>
</div>



</div>