<div class="content_modal">
    <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    Completar los datos correspondientes
                </h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="alpha" formControlName="name" placeholder="Nombre y apellido"/>
                <p-message severity="error" text="Completar Nombre y apellido" *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="num" formControlName="doc" placeholder="Nro. de documento"/>
                <p-message severity="error" text="Completar Nro. de documento" *ngIf="!userform.controls['doc'].valid&&userform.controls['doc'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="num" formControlName="tel" placeholder="Tel. de contacto"/>
                <p-message severity="error" text="Completar Tel. de contacto" *ngIf="!userform.controls['tel'].valid&&userform.controls['tel'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="alpha" formControlName="vto" placeholder="Venc. Licencia"/>
                <p-message severity="error" text="Completar Vto. de Licencia" *ngIf="!userform.controls['vto'].valid&&userform.controls['vto'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <p-dropdown class="mb_1" [options]="clases" formControlName="clase"></p-dropdown>
                <p-message severity="error" text="Seleccionar Clase" *ngIf="!userform.controls['clase'].valid&&userform.controls['clase'].dirty"></p-message>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="alpha" formControlName="dom" placeholder="Domicilio"/>
                <p-message severity="error" text="Completar domicilio" *ngIf="!userform.controls['dom'].valid&&userform.controls['dom'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <input class="mb_1" pInputText type="text" pKeyFilter="alpha" formControlName="cp" placeholder="Código Postal"/>
                <p-message severity="error" text="Completar CP" *ngIf="!userform.controls['cp'].valid&&userform.controls['cp'].dirty"></p-message>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <p-dropdown class="mb_1" [options]="localidades" formControlName="localidad"></p-dropdown>
                <p-message severity="error" text="Seleccionar Localidad" *ngIf="!userform.controls['localidad'].valid&&userform.controls['localidad'].dirty"></p-message>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <p-dropdown class="mb_1" [options]="provincias" formControlName="provincia"></p-dropdown>
                <p-message severity="error" text="Seleccionar Clase" *ngIf="!userform.controls['provincia'].valid&&userform.controls['provincia'].dirty"></p-message>
            </div>
        </div>
    </form>
</div>