@media (min-width: 768px) and (max-width: 992px){
    @media (min-height: 1000px) and (max-height: 1500px){
        .center_container {
            margin-top: 90%;
        }
    }
    @media (min-height: 768px) and (max-height: 1000px){
        .center_container {
            margin-top: 75%;
        }
    }
}
@media (min-width: 1501px) and (max-width: 1900px){
    @media (min-height: 1000px) and (max-height: 1500px){
        .center_container {
            margin-top: 75%;
        }
    }
    @media (min-height: 768px) and (max-height: 1000px){
        .center_container {
            margin-top: 65%;
        }
    }
}
@media (min-width: 992px) and (max-width: 1500px){
    @media (min-height: 1000px) and (max-height: 1500px){
        .center_container {
            margin-top: 90%;
        }
    }
    @media (min-height: 768px) and (max-height: 1000px){
        .center_container {
            margin-top: 75%;
        }
    }
}