<div class="row back_login height_login align-items-center">
        
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 none_desktop header_mobile">
            <div class="box_header_log">
                <div class="img_logo">
                    <img src="assets/Logo.png" alt="">  
                </div>
                <div class="box_card_log">
                    <h2 class="txt_w txt_upper pl_1">
                        <span class="br">¡Hola <span class="bl">Jorgelina</span>!</span>
                        <span class="br">Bienvenida a tu <span class="bl">espacio Mapfre</span> </span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-6 col-xs-12 none_mobile" style="position: relative;height: 79vh;">
            <div class="section_blur"></div>  
            <app-log-home></app-log-home>
          
        </div>
    
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12 back_form_login txt_c">
         
            <div class="center_container">

              <div class="section_form_log">

                  <app-log-initial></app-log-initial>                
                  
              </div>
              
            </div>
        </div>    
   
</div>