<div class="dashboard">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-header></app-header>
    </div>
    <div class="container-fluid pad_mobile">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-title></app-title>
                <app-float></app-float>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 back_menu none_mobile_tablet">
                    <app-menu></app-menu>
            </div> 
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <app-menu-slide class="menu_slide"></app-menu-slide>
                <app-auto></app-auto>
                <!-- <app-hogar></app-hogar> -->
                <!-- <app-embarcacion></app-embarcacion> -->
                <app-action></app-action>
            </div> 
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 back_need">
        <app-need></app-need>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-more></app-more>
    </div>
</div>

