.more{
    margin-top: 70px;
    margin-left: -30px;
    margin-right: -30px;
    position: relative;
    padding: 15px;
}
.more .card{
    border: none;
}
.back_img{
    background-image: url(../../../assets/im_dashboard/imagen-banner-familia.png);
    height: 200px;
    background-repeat: no-repeat;
    background-position: top;
}
.card-title{
    text-align: center;
}
.full_width{
    margin-left: -15px;
    margin-right: -15px;
}
.btn{
    width: 20%;
}