<div class="more">
    <div class="row">
        <div class="col-xl-12-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p_0">
            <div class="mb_4">
                <div class="back_img">
                    <img class="card-img-top" src="" alt="">
                </div>
                <div class="card-body txt_c">
                    <h2 class="card-title">Protección para toda tu familia</h2>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime pariatur officia, mollitia ipsum blanditiis aperiam. Facere libero maiores nostrum architecto rem soluta, quasi tempore id assumenda ut ratione, ullam dolorem?</p>
                    <div class="txt_c mt_3">
                        <button class="btn btn-outline-secondary btn-lg mb_1">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
