<p-accordion [multiple]="true" class="content">
    <div class="no_header">
    <p-accordionTab header="" [selected]="true">
        <p-accordion>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col mb-4" *ngFor="let coverturas of covertura">
                    <div class="card">
                        <div class="back_img">
                            <img src="{{ coverturas.img }}" alt="">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">{{ coverturas.nombre }}</h2>
                            <p-accordionTab header="Ver más">
                                <p class="f_l"> {{ coverturas.detalle }} </p>
                                <button class="btn btn-outline-light btn-lg btn-block mb_1 mt_1" style="width: 100%;">Hacé tu denuncia</button>
                            </p-accordionTab>   
                        </div>
                    </div>
                </div>
            </div>
        </p-accordion>
    </p-accordionTab>
    </div>
    <p-accordionTab header="Ver Más">
        <p-accordion>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col mb-4" *ngFor="let coverturas of coverturaMore">
                    <div class="card">
                        <div class="back_img">
                            <img src="{{ coverturas.img }}" alt="">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">{{ coverturas.nombre }}</h2>
                            <p-accordionTab header="Ver Más">
                                <p> {{ coverturas.detalle }} </p>
                                <button class="btn btn-outline-light btn-lg btn-block mb_1 mt_1" style="width: 100%;">Hacé tu denuncia</button>
                            </p-accordionTab>   
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="grid">
                        <figure class="effect-chico">
                            <div class="card">
                                <div class="card_no_contract">
                                    <i class="pi pi-plus"></i>
                                </div>
                                <div class="back_img" style="height: 155px;">
                                    <img src="assets/im_dashboard/auto/Inundacion.png" alt="">
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title">Responsabilidad civil</h2>
                                    <a href="#" class="f_r card_link">Ver más</a>
                                </div>
                            </div>
                            <figcaption>
                                <p class="title_card_hover">¿Todavia no tenes este beneficio?</p>
                                <p class="txt_card_hover">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam esse magni veritatis</p>
                                <button class="btn btn-outline-secondary btn-lg btn-block mb_1">Contratalo ahora</button>
                            </figcaption>			
                        </figure>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="grid">
                        <figure class="effect-chico">
                            <div class="card">
                                <div class="card_no_contract">
                                    <i class="pi pi-plus"></i>
                                </div>
                                <div class="back_img">
                                    <img src="assets/im_dashboard/auto/Inundacion.png" alt="">
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title">Responsabilidad civil</h2>
                                    <a href="#" class="f_r card_link">Ver más</a>
                                </div>
                            </div>
                            <figcaption>
                                <p class="title_card_hover">¿Todavia no tenes este beneficio?</p>
                                <p class="txt_card_hover">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam esse magni veritatis</p>
                                <button class="btn btn-outline-light btn-lg btn-block mb_1">Contratalo ahora</button>
                            </figcaption>			
                        </figure>
                    </div>
                </div>
            </div>
        </p-accordion>
   </p-accordionTab>
</p-accordion>