<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xl-4 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="assets/Logo.png">
                    </a>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="section_drop">
                        <p-menubar [model]="items"></p-menubar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>