.navbar{
    background-color: #CE0000;
    margin-left: -30px;
    margin-right: -30px;
    height: 38px;
}
.navbar-brand img{
    width: 100px;
    padding-top: 10px; 
}
.navbar-header{
    padding: 5px 0px 0px 0px;
}
.container-fluid{
    display: block;
}
.section_drop{
    float: right;
}
.navbar .pi {
    font-size: 1.3em;
}
li:hover{
    background-color: red;
}
@media (max-width:575px){
    .section_drop{
        margin-top: -25px;
    }
}
@media (min-width:576px) and (max-width:767px){
    .section_drop{
        margin-top: -5px;
    }
}
@media (max-width:767px){
    .navbar img {
    padding-left: 20px;    
    }
    .navbar-header{
        padding: 10px 0px 0px 0px;
    }
    .navbar-brand img{
        padding-top: 0px; 
    }
}
@media all and (-ms-high-contrast:none) {
    .icons_mobile{ float: right; margin-right: 30px; } /* IE10 */
    *::-ms-backdrop, .icons_mobile{ float: right; margin-right: 30px; } /* IE11 */ 
}
p-menubarsub ul li:hover{
color: white!important;
background-color: red!important;
}


