<div class="consecuencias">
    <div>
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
    </div>
    <div class="title_section d_flex">
        <div class="number">
            <h1>2</h1>
        </div>
        <div>
            <h2>Consecuencia</h2>
        </div>
        <div>
            <i class="pi pi-question-circle" pTooltip="Texto de Tooltip"></i>
        </div>
    </div>
    <div class="card">
        <div class="row txt_c">
            <div class="col-md-12">
                <div class="title_section d_flex">
                    <div>
                        <h3>Terceros</h3>
                    </div>
                    <div>
                        <i class="pi pi-question-circle" pTooltip="Texto de Tooltip"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row txt_justifi_c">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="title_switch">
                            ¿Afecto a terceros?
                        </div>
                        <div class="d_flex txt_justifi_c">
                            <div class="pr_1">
                                <p class="label_switch">NO</p>
                            </div>
                            <div>
                                <p-inputSwitch [(ngModel)]="checkedTercero" (click)="showModalDialogTerceros()"></p-inputSwitch>
                            </div>
                            <div class="pl_1">
                                <p class="label_switch">SI</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table_list txt_l">
                <div class="terceros_table center_table" *ngIf="terceros">
                    <h3 class="txt_l">Terceros Afectados</h3>
                    <p-table [value]="tercero">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Afectado</th>
                                <th>Nombre y apellido</th>
                                <th>Tipo de relación</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" *ngFor="let terceros of tercero">
                            <tr>
                                <td>{{ terceros.afectado }}</td>
                                <td class="item_bold">{{ terceros.nombre }}</td>
                                <td>{{ terceros.relacion }}</td>
                                <td>{{ terceros.estado }}</td>
                                <td>
                                    <button class="btn" (click)="showModalDialogTerceros()">
                                        Editar
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="">
                        <div href="" class="icon_more" (click)="showModalDialogTerceros()">
                            <i class="pi pi-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row txt_c">
            <div class="col-md-12">
                <div class="row txt_justifi_c">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="title_switch">
                            ¿Magnitud del daño?
                        </div>
                        <div class="d_flex txt_justifi_c">
                            <div class="pr_1">
                                <p class="label_switch">PARCIAL</p>
                            </div>
                            <div>
                                <p-inputSwitch [(ngModel)]="checkedDano"></p-inputSwitch>
                            </div>
                            <div class="pl_1">
                                <p class="label_switch">TOTAL</p>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="row txt_c">
            <div class="col-md-12">
                <div class="title_section d_flex">
                    <div>
                        <h3>Identificá el daño</h3>
                    </div>
                    <div>
                        <i class="pi pi-question-circle" pTooltip="Texto de Tooltip"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col-md-3 daños mt_2" *ngFor="let todoriesgo of polizaTodoRiesgoHogar">
                <div>
                    <img src="{{ todoriesgo.icono }}" alt="">
                </div>
                <div class="mt_1">
                    <p-checkbox name="group1" value="Cristal de Techo" label="{{ todoriesgo.cobertura }}" inputId="{{ todoriesgo.id }}"></p-checkbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt_4">
                <div class="title_section d_flex">
                    <div>
                        <h3>Relatá lo sucedido</h3>
                    </div>
                    <div>
                        <i class="pi pi-question-circle" pTooltip="Texto de Tooltip"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="d_flex f_r">
                    <div class="">
                        <p-button class="btn btn-outline-secondary btn-lg btn-block mb_1" icon="pi pi-volume-up" label="Voz a texto"></p-button>
                    </div>
                    <div class="">
                        <button class="btn btn-outline-light btn-lg btn-block mb_1">texto</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <textarea id="" rows="4">
                    
                </textarea>
            </div>
            <div class="col-md-12">
                <div class="d_flex f_r mt_1">
                    <div class="">
                        <button class="btn btn-outline-secondary btn-lg btn-block mb_1" (click)="showModalDialogGuardar()">Guardar</button>
                    </div>
                    <div class="">
                        <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)="detalle = !detalle">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="detalle">
        <app-detalles-hogar></app-detalles-hogar>
    </div>
    <div>
        <app-historial></app-historial>
    </div>
</div>
<!--Modal TERCEROS (inicio)-->
<p-dialog header="Terceros Afectados" [(visible)]="displayModalTerceros" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false">
    <p-header>
        <div class="icon">
            <img src="assets/modals/Datos.png" alt="">
     </div>
    </p-header>
    <app-terceros></app-terceros>
    <p-footer class="">
        <button class="btn btn-outline-secondary btn-lg btn-block mb_1 mr_1 no_b" (click)="displayModalTerceros=false">Atras</button>
        <button class="btn btn-outline-secondary btn-lg btn-block mb_1 mr_1" (click)="first_b = !first_b; first_a = !first_a">Agregar afectado</button>
        <button type="submit" class="btn btn-outline-light btn-lg btn-block mb_1" (click)="displayModalTerceros=false; terceros = !terceros">Terminar</button>
    </p-footer>
</p-dialog>
<!---->
<!--Modal VEHICULOS (inicio)-->
<p-dialog header="Vehiculo del tercero" [(visible)]="displayModalVehiculos" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false">
    <p-header>
        <div class="icon">
            <img src="assets/modals/Datos.png" alt="">
        </div>
    </p-header>
    <app-vehiculos></app-vehiculos>
    <p-footer class="">
        <button class="btn btn-outline-secondary btn-lg btn-block mb_1 mr_1 no_b" (click)="displayModalVehiculos=false">Atras</button>
        <button type="submit" class="btn btn-outline-light btn-lg btn-block mb_1" (click)="displayModalVehiculos=false; vehiculos = !vehiculos">Terminar</button>
    </p-footer>
</p-dialog>
<!---->
<!--Modal COSAS (inicio)-->
<p-dialog header="Objeto dañado" [(visible)]="displayModalCosa" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false">
    <p-header>
        <div class="icon">
            <img src="assets/modals/Datos.png" alt="">
        </div>
    </p-header>
    <app-cosas></app-cosas>
    <p-footer class="">
        <button class="btn btn-outline-secondary btn-lg btn-block mb_1 mr_1 no_b" (click)="displayModalCosa=false">Atras</button>
        <button type="submit" class="btn btn-outline-light btn-lg btn-block mb_1" (click)="displayModalCosa=false; cosas = !cosas">Terminar</button>
    </p-footer>
</p-dialog>
<!---->
<!--Modal COSAS (inicio)-->
<p-dialog header="" [(visible)]="displayModalGuardar" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false">
    <p-header>
        <div class="icon">
            <img src="assets/modals/Continuar_guardar.png" alt="">
        </div>
    </p-header>
    <app-guardar></app-guardar>
    <p-footer class="">
        <button class="btn btn-outline-secondary btn-lg btn-block mb_1 mr_1" (click)="displayModalGuardar=false">Guardar denuncia</button>
        <button type="submit" class="btn btn-outline-light btn-lg btn-block mb_1" (click)="displayModalGuardar=false">Continuar Denuncia</button>
    </p-footer>
</p-dialog>
<!---->