.section_blur{
    background-color: #0a0a0a69;
    opacity: 0.7;
    position: absolute;
    height: 93vh;
    margin-top: -50px;
    width: 100vh;
    z-index: 0;
    margin-left: -62px;
}
@media (min-width: 768px) and (max-width: 992px) {
    .section_blur{
      display: block;
    }
    .box_login{
        position: absolute;
        z-index: 1;
    }
    .index_1{
        z-index: 99;
    }
  }
@media (min-width: 0px) and (max-width: 768px) {
    .section_blur{
        display: none;
}
}
@media (min-width: 992px){
    .section_blur{
        display: none;
    }
}
@media all and (-ms-high-contrast:none) {
    .center_container{ margin-left: auto; margin-right: auto; } /* IE10 */
    *::-ms-backdrop, .center_container { margin-left: auto; margin-right: auto; } /* IE11 */
    .socialLogin{ 
      background-color: transparent!important;
      color: #303855!important;
      opacity: 1!important;
      border: 1px solid #313956!important; 
    } /* IE10 */
    .socialLogin:hover{
        border: 1px solid #CE0000!important;
        color: #CE0000!important; 
      }
    .content_log input{
        padding: 1px 0px 0px 15px;
    }
    *::-ms-backdrop, .socialLogin { 
      background-color: transparent!important;
      color: #303855!important;
      opacity: 1!important;
      border: 1px solid #313956!important;
     } /* IE11 */
     *::-ms-backdrop, .socialLogin:hover{
        border: 1px solid #CE0000!important;
        color: #CE0000!important; 
      }
      *::-ms-backdrop, .content_log input{
        padding: 1px 0px 0px 15px;
    }
    }
    @media (min-width: 768px) and (max-width: 776px) {
      .img_people img{
        position: relative;
      }
      @media (min-height: 1326px) and (max-height: 1374px) {
        .img_people img {
          bottom: -33.5em;
        }   
      }
      @media (min-height: 1276px) and (max-height: 1325px) {
        .img_people img {
          bottom: -31.1em;
        }   
      }
      @media (min-height: 1225px) and (max-height: 1275px) {
        .img_people img {
          bottom: -28.6em;
        }   
      }
      @media (min-height: 1175px) and (max-height: 1224px) {
        .img_people img {
          bottom: -26.1em;
        }   
      }
      @media (min-height: 1122px) and (max-height: 1174px) {
        .img_people img {
          bottom: -23.6em;
        }   
      }
      @media (min-height: 1069px) and (max-height: 1121px) {
        .img_people img {
          bottom: -21em;
        }   
      }
      @media (min-height: 1018px) and (max-height: 1068px) {
        .img_people img {
          bottom: -18.4em;
        }   
      }
      @media (min-height: 967px) and (max-height: 1017px) {
        .img_people img {
          bottom: -15.9em;
        }   
      }
      @media (min-height: 918px) and (max-height: 966px) {
        .img_people img {
          bottom: -13.4em;
        }   
      }
      @media (min-height: 865px) and (max-height: 917px) {
        .img_people img {
          bottom: -10.9em;
        }   
      }
      @media (min-height: 815px) and (max-height: 864px) {
        .img_people img {
          bottom: -8.4em;
        }   
      }
      @media (min-height: 766px) and (max-height: 814px) {
        .img_people img {
          bottom: -5.9em;
        }   
      }
      @media (min-height: 716px) and (max-height: 765px) {
        .img_people img {
          bottom: -3.5em;
        }   
      }
      @media (min-height: 676px) and (max-height: 715px) {
        .img_people img {
          bottom: -1em;
        }   
      }
      @media (min-height: 651px) and (max-height: 675px) {
        .img_people img {
          bottom: 1em;
        }   
      }
      @media (min-height: 641px) and (max-height: 650px) {
        .img_people img {
          bottom: 2.2em;
        }   
      }
      @media (min-height: 635px) and (max-height: 640px) {
        .img_people img {
          bottom: 2.8em;
        }   
      }
      @media (min-height: 621px) and (max-height: 634px) {
        .img_people img {
          bottom: 3em;
        }   
      }
      @media (min-height: 601px) and (max-height: 620px) {
        .img_people img {
          bottom: 2.9em;
        }   
      }
      @media (min-height: 591px) and (max-height: 600px) {
        .img_people img {
          bottom: 2.8em;
        }   
      }
      @media (min-height: 576px) and (max-height: 590px) {
        .img_people img {
          bottom: 2.7em;
        }   
      }
      @media (min-height: 563px) and (max-height: 575px) {
        .img_people img {
          bottom: 2.6em;
        }   
      }
      @media (min-height: 555px) and (max-height: 562px) {
        .img_people img {
          bottom: 2.5em;
        }   
      }
    }
    @media (max-height: 554px) {
      .img_people img{
        width: 446px;
        position: relative;
    }
    }
    @media (min-height: 543px) and (max-height: 554px){
      .img_people img {
        bottom: 0.5em;
    }
    }
    @media (min-height: 529px) and (max-height: 542px){
      .img_people img {
        bottom: 0.4em;
    }
    }
    @media (min-height: 515px) and (max-height: 528px){
      .img_people img {
        bottom: 0.3em;
    }
    }
    @media (min-height: 501px) and (max-height: 514px){
      .img_people img {
        bottom: 0.2em;
    }
    }
    @media (min-height: 487px) and (max-height: 500px){
      .img_people img {
        bottom: 0.1em;
    }
    }
    @media (min-height: 472px) and (max-height: 486px){
      .img_people img {
        bottom: 0em;
    }
    }
    @media (min-height: 458px) and (max-height: 471px){
      .img_people img {
        bottom: -0.1em;
    }
    }
    @media (min-height: 445px) and (max-height: 458px){
      .img_people img {
        bottom: -0.2em;
    }
    }
    @media (min-height: 431px) and (max-height: 444px){
      .img_people img {
        bottom: -0.3em;
    }
    }
    @media (min-height: 416px) and (max-height: 430px){
      .img_people img {
        bottom: -0.4em;
    }
    }
    @media (min-height: 401px) and (max-height: 415px){
      .img_people img {
        bottom: -0.5em;
    }
    }
    @media (min-height: 389px) and (max-height: 400px){
      .img_people img {
        bottom: -0.6em;
    }
    }
    @media (min-height: 361px) and (max-height: 388px){
      .img_people img {
        bottom: -0.7em;
    }
    }
    @media (min-height: 345px) and (max-height: 360px){
      .img_people img {
        bottom: -0.9em;
    }
    }
    @media (min-height: 331px) and (max-height: 344px){
      .img_people img {
        bottom: -1em;
    }
    }
    @media (min-height: 311px) and (max-height: 330px){
      .img_people img {
        bottom: -1.1em;
    }
    }
    @media (min-height: 291px) and (max-height: 310px){
      .img_people img {
        bottom: -1.2em;
    }
    }
    @media (min-height: 260px) and (max-height: 290px){
      .img_people img {
        bottom: -1.4em;
    }
    }
    @media (min-height: 240px) and (max-height: 259px){
      .img_people img {
        bottom: -1.6em;
    }
    }
    @media (min-height: 220px) and (max-height: 239px){
      .img_people img {
        bottom: -1.8em;
    }
    }
    @media (min-height: 206px) and (max-height: 219px){
      .img_people img {
        bottom: -1.9em;
    }
    }
    @media (max-height: 205px){
      .img_people img {
        bottom: -2em;
    }
    }
@media (min-width: 1901px){
      .box_login h1{
        font-size: 3.5em;
      }
}    
@media (min-width: 1501px) and (max-width: 1900px){
    @media (min-height: 1000px) and (max-height: 1500px){
        .box_login {
            margin-top: 55%;
        }
        .box_login h1{
          font-size: 2.5em;
        }
        .box_login .card {
          background-color: white;
          width: 315px;
          height: 90px;
          padding: 10px 0px 0px 8px;
          margin-bottom: 15px;
        }
        .box_login .card p {
          margin: 10px 0px 0px 0px;
          font-size: 1.1em;
        }
    }
    @media (min-height: 768px) and (max-height: 1000px){
        .box_login {
          margin-top: 45%;
        }
    }
}    
@media (min-width: 992px) and (max-width: 1500px){
  @media (min-height: 1000px) and (max-height: 1500px){
      .box_login {
          margin-top: 55%;
      }
  }
  @media (min-height: 768px) and (max-height: 1000px){
      .box_login {
        margin-top: 45%;
      }
  }
} 
@media (min-width: 2001px){
  .img_people img{
    height: 80%;
  }
}
