<div class="row">
              
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 index_1" style="height: 10vh;">
            <div class="img_logo">
              <a href="">
                  <img src="assets/Logo.png" alt="">
              </a>
            </div>
        </div>  

        <div class="col-xl-6 col-lg-6 col-md-1 col-sm-1 col-xs-1" style="position: relative; height: 80vh;">
            <div class="img_people">
              <img src="assets/login_1.png" alt="">
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-11 col-sm-11 col-xs-11" style="text-align: center">
            <div class="box_login">
              <div class="box_card_log_query">
                  <h1>
                    <span class="br">¡Hola<span class="bl">Jorgelina</span></span>
                    <span class="br">Bienvenido a tu</span> 
                    <span class="br bl">espacio Mapfre</span> 
                  </h1>
              </div>
              <div class="box_card_log">
                  <h1>
                    <span class="br">¡Hola <span class="bl">Jorgelina</span></span>
                    <span class="br">Estas por entrar a tu</span> 
                    <span class="br bl">espacio Mapfre</span> 
                  </h1>
                  <h2 class="txt_w">A partir de ahora <br /> podrás ver y gestionar tus pólizas <br /> estés donde estés.</h2>
              </div>
              

             <!--ESTAS SON LAS TARJETAS CON AVISOS QUEDA PARA PROXIMA INTEGRACION--> 
             <!-- <div class="box_card_log">
                <div class="card">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="sp_red">1</span>
                        <img src="assets/poliza.png" alt="">
                      </div>
                      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p class="txt_blue">
                          El próximo pago de tu
                          <span class="br mt_m_05">póliza de auto vence el</span>
                          <span class="br mt_m_05">17/02/2020</span>
                        </p>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <span class="sp_red sp_green">1</span>
                          <img src="assets/hogar.png" alt="">
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                          <p class="txt_blue">
                            Está próximo
                            <span class="br mt_m_05">el vencimiento de tu póliza de</span>
                            <span class="br mt_m_05">hogar</span>
                          </p>
                        </div>
                    </div>
                </div>
              </div> -->
            </div>
        </div>

      </div>