<div class="">
    <div class="txt_c">
        <h2>Viviana aún no declaraste tu denuncia</h2>
        <p>
            Has comenzado el proceso de denuncia, pero todavía no declaraste.
            Recorda continuarlo antes de las <span class=""> 72hs </span>.
        </p>

    </div>
</div>