p-header .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 50px;
    top: 10px;
    z-index: 1;
}
p-header .pi{
    padding-top: 10px;
    font-size: 50px;
    color: red;
}
.txt_check{
    font-size: 10px!important;
    margin-top: -3px!important;
}
:host ::ng-deep .ui-button {
    margin: .5em .5em .5em 0;
    width: 140px;
}
@media screen and (max-width: 40em) {
    :host ::ng-deep .ui-dialog {
        width: 75vw !important;
    }
}