
   <div class="content_modal">
        <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="first_a">
                    <h4>
                        Afectado 1
                    </h4>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="first_b">
                    <h4>
                        Afectado 2
                    </h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <p-dropdown class="mb_1" [options]="afectados" formControlName="afecta"></p-dropdown>
                    <p-message severity="error" text="Seleccionar Afectado" *ngIf="!userform.controls['afecta'].valid&&userform.controls['afecta'].dirty"></p-message>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt_05">
                    <p-checkbox name="group1" value="Lesionado" label="Lesionado" inputId="sa" (click)="lesionado = !lesionado"></p-checkbox>
                </div>
            </div>
            <div class="row" *ngIf="lesionado">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt_05">
                    <h4>Tipo de lesiòn</h4>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 mt_05">
                    <p-checkbox name="group1" value="Leve" label="Leve" inputId="sa"></p-checkbox>
                    <p class="txt_check">
                        Golpes leves, raspaduras, cortes, cervicalgia, molestias, esguince.
                    </p> 
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 mt_05">
                    <p-checkbox name="group1" value="Grave" label="Grave" inputId="sa"></p-checkbox>
                    <p class="txt_check">
                        Fracturas, pèrdidas de conocimiènto, amputaciones.
                    </p> 
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 mt_05">
                    <p-checkbox name="group1" value="MuyGrave" label="Muy Grave" inputId="sa"></p-checkbox>
                    <p class="txt_check">
                        Mùltiples fracturas, grandes amputaciones, riesgo de vida, en terapia intensiva.
                    </p> 
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 mt_05">
                    <p-checkbox name="group1" value="Especial" label="Especial" inputId="sa"></p-checkbox>
                    <p class="txt_check">
                        Lesiones medulares (paraplegia, tetraplegia), estado vegetativo.
                    </p> 
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 mt_05">
                    <p-checkbox name="group1" value="Muerte" label="Muerte" inputId="sa"></p-checkbox>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt_3 mb_1">
                    <p-checkbox name="group1" value="Internado" label="Se encuentra internado" inputId="sa"></p-checkbox>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb_5">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <p-dropdown class="mb_1" [options]="centros" formControlName="centro"></p-dropdown>
                            <p-message severity="error" text="Seleccionar Clase" *ngIf="!userform.controls['centro'].valid&&userform.controls['centro'].dirty"></p-message>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <p-dropdown class="mb_1" [options]="obras" formControlName="obra"></p-dropdown>
                            <p-message severity="error" text="Seleccionar obra Social o ART" *ngIf="!userform.controls['obra'].valid&&userform.controls['obra'].dirty"></p-message>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <input class="mb_1" pInputText type="text" pKeyFilter="alpha" formControlName="name" placeholder="Nombre y apellido"/>
                    <p-message severity="error" text="Completar Nombre y apellido" *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty"></p-message>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <input class="mb_1" pInputText type="text" pKeyFilter="num" formControlName="tel" placeholder="Tel de contacto"/>
                    <p-message severity="error" text="Completar Número de teléfono" *ngIf="!userform.controls['tel'].valid&&userform.controls['tel'].dirty"></p-message>
                </div>
            </div>    
        </form>
    </div>