<div class="menu menu_carrousel">   
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-carousel circular="circular" headerText="Poliza" [value]="poliza">
        <ng-template let-poliza pTemplate="item">
            <div class="{{ poliza.state }}">
                <p-button class="btn_card">
                    <div class="ui-grid ui-grid-responsive card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                    <img src="{{poliza.img}}" alt="">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                    <h2 class="card-title">{{ poliza.nombre }}</h2>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-12">
                                    <div class="date_menu">
                                        <p class="card-text">N° de póliza: <span class="">{{ poliza.numero }}</span> </p>
                                        <p class="card-text">Dominio: <span class="">{{ poliza.dominio }}</span> </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-12">
                                    <div class="state {{ poliza.estado_activo }}">
                                        <span href="#" class="">{{ poliza.estado }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-button>
            </div>
        </ng-template>
    </p-carousel>
</div>