p, h1, h2, h3{
    font-family: "Roboto", sans-serif;
}
.menu{
    background-color: #FAFAFA;
    height: 140px;
}
.menu .card{
    padding: 10px;
    background-color: transparent;
    margin-bottom: 0;
    border: none;
}
.card img{
    width: 35px;
    margin-top: 0;
    margin-left: 0;
}
.menu .card .card-block{
    padding: 0px 15px 0px 15px;
}
.menu .card .date_menu{
    padding-top: 5px;
    color: #303855;
}
.menu .card-title{
    float: right;
    margin-top: 0px;
    font-weight: 500;
    color: #303855;
    text-transform: uppercase;
    font-size: 1.2em;
}
.state {
    margin-top: 3px;
}
.state span{
    padding: 2px 10px 2px 10px;
    background-color: #64D92F;
    border-radius: 30px;
    color: white;
    font-size: 0.9em;
}
.date_menu p{
    margin-top: -10px;
    font-size: 12px;
    font-weight: 500;
}
.date_menu span{
    font-weight: 400;
}
a{
    text-decoration: none;
}
.b_b{
    border-bottom: 2px solid #29304C;
    border-left: none;
    width: 100%;
    border-right: none;
    border-top: none;
}
.line_expand{
    margin-bottom: -15px;
}
.title_expand p{
    height: 20px;
    border-bottom: 1px solid #29304C;
    width: 100%;
    text-align: center;
    color: #29304C;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.mat-expansion-panel-header {
    height: 80px;
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    border-radius: inherit;
}
.b_l{
 border-left: 1px solid gray;
 height: 100%;
}
.title_expand .glyphicon{
    font-size: 10px;
    margin-top: -10px;
    text-align: center;
}
.line_expand_icon{
    text-align: center;
    color: #29304C;
}
@media (min-width: 768px) and (max-width:991px) {
    
}
@media (max-width:991px) {
    .card img{
        width: 25px;
    }
    .menu .card .date_menu{
        padding-top: 12px;
    }
    .state {
        margin-top: 10px;
        float: right;
    }
}
@media (min-width: 0px) and (max-width:575px) {
    .state {
        margin-top: -5px;
        float: left;
    }
}
p-button {
    display: block;
}