.historial{
    margin-top: 30px;
    overflow: auto;
}
.siniestro{
    font-weight: 700;
}
.estado{
    font-weight: 700;
}
h2 {
    margin: 5px 10px 10px 20px;
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
    font-weight: 700;
}
h3{
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
    font-weight: 500;
}