<div class="title_section mt_3">
    <h2 class="txt_l">Historial de siniestro</h2>
</div>
<div class="historial">
    <div class="center_table">
        <p-table [value]="historial">
            <ng-template pTemplate="header">
                <tr>
                    <th>Fecha</th>
                    <th>Nro. de siniestro</th>
                    <th>Nro. de póliza</th>
                    <th>Riesgo</th>
                    <th>Riesgo</th>
                    <th>Riesgo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" *ngFor="let historia of historial">
                <tr>
                    <td>{{historia.fecha}}</td>
                    <td class="siniestro">{{historia.siniestro}}</td>
                    <td>{{historia.poliza}}</td>
                    <td>{{historia.riesgo}}</td>
                    <td>{{historia.causa}}</td>
                    <td class="estado">{{historia.state}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-paginator [rows]="10" [totalRecords]="120"></p-paginator>