  @font-face {
    font-family: DINPro;
    src: url('./assets/fonts/DINPro.otf') format('opentype');
  }
  @font-face {
    font-family: DINProMedium;
    src: url('./assets/fonts/DINPro-Medium.otf') format('opentype');
  }
  @font-face {
    font-family: DINProBold;
    src: url('./assets/fonts/DINPro-Bold.otf') format('opentype');
  }
  @font-face {
    font-family: DINProBlack;
    src: url('./assets/fonts/DINPro-Black.otf') format('opentype');
  }
  @font-face {
    font-family: DINProLight;
    src: url('./assets/fonts/DINPro-Light.otf') format('opentype');
  }
  @font-face {
    font-family: RobotoRegular;
    src: url('./assets/fonts/Roboto-Regular.ttf') format('opentype');
  }
  @font-face {
    font-family: RobotoBold;
    src: url('./assets/fonts/Roboto-Bold.ttf') format('opentype');
  }
  
  $DINPro: 'DINPro', sans-serif;
  $DINProMedium: 'DINProMedium', sans-serif;
  $DINProBold: 'DINProBold', sans-serif;
  $DINProBlack: 'DINProBlack', sans-serif;
  $DINProLight: 'DINProLight', sans-serif;
  $RobotoRegular: 'RobotoRegular', sans-serif;
  $RobotoBold: 'RobotoBold', sans-serif;
  
  /*:root {
    --blue: #00b; // global variable declaration
  }*/
  