.row{
    margin-right: -5px;
    margin-left: -5px;
}
.back_img{
    height: 100px;
    background-color: #CECECE;
}
.card-title{
    text-align: center;
    height: 40px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    font-weight: 500;
}
.card{
    text-align: center;
    margin-bottom: 0.7em;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px 6px 6px #00000029;
}
.card img{
    width: 67px;
    padding: 25px 10px 10px 10px;
}
.card-body{
    padding: 0px 15px 10px 15px;
}
.card-title{
    margin-bottom: 0;
}
.card_link{
    color: #E34B4F;
    text-transform: none;
    text-decoration: none;
    font-weight: 500;
}
h1 {
margin: -2px 0px 0px 10px;
}
h2 {
    margin: 5px 10px 10px 20px;
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
    font-weight: 700;
}
h3{
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
    font-weight: 500;
}
input { display: none; }
input + label { display: inline-block }

input ~ .tab { display: none }
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5 { display: block; }

input + label {
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
  width: 150px;
}
input:checked + label .back_img {
  background: #a8d0da;
  border-bottom: 1px solid transparent;
}
input ~ .tab {
  padding: 12px;
}