.row{
    margin-right: -5px;
    margin-left: -5px;
}
.back_img{
    background-color: #A8D0DA;
    height: 150px;
}
.card-title{
    text-align: center;
    height: 40px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    font-weight: 500;
}
.title_expand p{
    height: 20px;
    border-bottom: 1px solid #29304C;
    width: 100%;
    text-align: center;
    color: #29304C;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.line_expand{
    margin-bottom: -15px;
}
.b_r{
    border-right: 1px solid gray;
    height: 100%;
}
.title_expand .glyphicon{
    font-size: 10px;
    margin-top: -10px;
    text-align: center;
}
.line_expand_icon{
    text-align: center;
    color: #29304C;
}
.card{
    text-align: center;
    margin-bottom: 0.7em;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px 6px 6px #00000029;
}
.card img{
    width: 120px;
    padding: 32px 10px 10px 10px;
}
.card_no_contract{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 0;
}
.card_no_contract .pi{
    padding: 80px;
    font-size: 60px;
    color: red;
    z-index: 1;
}
.card-body{
    padding: 0px 15px 10px 15px;
}
.card-title{
    margin-bottom: 0;
}
.card_link{
    color: #E34B4F;
    text-transform: none;
    text-decoration: none;
    font-weight: 500;
}
.h2_small{
    font-size: 14px;
    font-weight: normal;
    margin-top: -5px;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
/*HOVER*/
.grid {
	position: relative;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    height: 105%;
    width: 105%;
    margin: 5px 0px 0px -8px;
}

.grid figure figcaption {
	padding: 1em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

/* Individual effects */

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico figcaption {
	padding: 1em;
}

figure.effect-chico figcaption::before {
	content: '';
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    position: absolute;
    background-color:#E34B4F;
    top: 10px;
    right: 10px;
    bottom: 20px;
    left: 10px;
}

figure.effect-chico figcaption::before,
figure.effect-chico p,
figure.effect-chico .btn {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico .space_title {
	padding: 2% 0 10px 0;
}

figure.effect-chico .txt_card_hover {
    font-size: 14px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
figure.effect-chico .title_card_hover {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    bottom: 20px;
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}
figure.effect-chico .btn {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-top: 30px;
    color: white;
    border-color: white;
}
figure.effect-chico .btn-outline-secondary:hover {
    background-color: white!important;
    color: #CE0000!important;
    border-color: white!important;
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p,
figure.effect-chico:hover .btn {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
@media (min-width: 0px) and (max-width: 767px) {
    .card-title{
        font-size: 1.3em;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .card-title{
        font-size: 1.4em;
    }
}