<div class="summary" *ngIf="resumen">
    <div class="card">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row" *ngIf="collapse1">
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="pointer" (click)="collapse = !collapse; collapse3 = !collapse3; collapse2 = !collapse2; collapse1 = !collapse1;">
                            <h1>{{ poliza }} | {{ tipo }}
                                <i class="pi pi-chevron-down"></i>
                            </h1>
                        </a>    
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="summary_date">
                            <div>
                                <p>Fecha de vigencia: <span>03/12/2019 al 03/12/2019</span></p>        
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="collapse2">
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="pointer" (click)="collapse = !collapse; collapse3 = !collapse3; collapse1 = !collapse1; collapse2 = !collapse2;">
                            <h1>{{ poliza }} | {{ tipo }}
                                <i class="pi pi-chevron-up"></i>
                            </h1>
                        </a>    
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="summary_date">
                            <div>
                                <p>Fecha de vigencia: <span>03/12/2019 al 03/12/2019</span></p>        
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="only_mobile" *ngIf="collapse">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                    <p>Esta cobertura comprende la indemnización por los daños que el asegurado, o un conductor autorizado por éste, pueden ocasionarle a un tercero, por el vehículo asegurado o por la carga transportada en condiciones reglamentarias.</p>           
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <p class="title_sumary">Productor</p>
                                    <p>SD personal de la CIA.BS.AS.1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="title_sumary">Oficina comercial</p>
                                    <p>Empleados y flia Mapfre</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="title_sumary">Otro dato</p>
                                    <p>Tarjeta de circulación</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row space_btn">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary btn-lg btn-block mb_1" type="button" (click)="DropDescargas = !DropDescargas">
                                    <div class="d_flex icon_dow">
                                        <div>
                                            <i class="pi pi-download"></i>
                                        </div>
                                        <div>
                                            Descargas
                                        </div>
                                    </div> 
                                </button>
                                <div *ngIf="DropDescargas">
                                    <div class="dropdown_list">
                                        <div class="dropdown-item" href="#" >
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Tarjeta de circulación</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Comprobante de pago</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Póliza completa</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Certificado Mercosur</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Certificado libre deuda</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)="denuncia = !denuncia; content = !content; resumen = !resumen; resumen_denuncia = !resumen_denuncia">Hacé tu denuncias</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="none_mobile" *ngIf="collapse3">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <p>Esta cobertura comprende la indemnización por los daños que el asegurado, o un conductor autorizado por éste, pueden ocasionarle a un tercero, por el vehículo asegurado o por la carga transportada en condiciones reglamentarias.</p>           
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <p class="title_sumary">Productor</p>
                            <p>SD personal de la CIA.BS.AS.1</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="title_sumary">Oficina comercial</p>
                            <p>Empleados y flia Mapfre</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="title_sumary">Otro dato</p>
                            <p>Tarjeta de circulación</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row summary_drop">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <h2>
                Coberturas para tu poliza
            </h2>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6 col-xs-12 mt_1">
            <p-dropdown [options]="riesgos" [(ngModel)]="selectedRies" placeholder="Elegí tu vehículo" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
    </div>
</div>
<div class="summary" *ngIf="resumen_denuncia">
    <div class="card">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row" *ngIf="date_open1">
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="pointer" (click)="date_open = !date_open; date_open3 = !date_open3; date_open2 = !date_open2; date_open1 = !date_open1;">
                            <h1> {{ poliza }} | {{ tipo }}
                                <i class="pi pi-chevron-down"></i>
                            </h1>
                        </a>    
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="summary_date">
                            <div>
                                <p>Fecha de vigencia: <span>03/12/2019 al 03/12/2019</span></p>        
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="date_open2">
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="pointer" (click)="date_open = !date_open; date_open3 = !date_open3; date_open1 = !date_open1; date_open2 = !date_open2;">
                            <h1> {{ poliza }} |  {{ tipo }}
                                <i class="pi pi-chevron-up"></i>
                            </h1>
                        </a>    
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="summary_date">
                            <div>
                                <p>Fecha de vigencia: <span>03/12/2019 al 03/12/2019</span></p>        
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="only_mobile" *ngIf="date_open">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                    <p>¿Cuando ocurrio el incidente?</p>           
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <p class="title_sumary">Productor</p>
                                    <p>SD personal de la CIA.BS.AS.1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="title_sumary">Oficina comercial</p>
                                    <p>Empleados y flia Mapfre</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="title_sumary">Otro dato</p>
                                    <p>Tarjeta de circulación</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row space_btn">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary btn-lg btn-block mb_1" type="button" (click)="DropDescargas = !DropDescargas">
                                    <div class="d_flex icon_dow">
                                        <div>
                                            <i class="pi pi-download"></i>
                                        </div>
                                        <div>
                                            Descargas
                                        </div>
                                    </div> 
                                </button>
                                <div *ngIf="DropDescargas">
                                    <div class="dropdown_list">
                                        <div class="dropdown-item" href="#" >
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Tarjeta de circulación</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Comprobante de pago</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Póliza completa</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Certificado Mercosur</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item" href="#">
                                            <div class="row">  
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8">
                                                    <p>Certificado libre deuda</p>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-share-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                                                    <a href="#" (click)="DropDescargas = !DropDescargas">
                                                        <i class="pi pi-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-outline-light btn-lg btn-block mb_1" (click)="denuncia = !denuncia; content = !content; resumen_denuncia = !resumen_denuncia; resumen = !resumen">Volver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="none_mobile mt_2 mb_2" *ngIf="date_open3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr_0">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mt_1 pr_0">
                            <p-calendar [(ngModel)]="date1" [locale]="es" dateFormat="dd/mm/yy" placeholder="¿Cuando ocurrio el incidente?"></p-calendar>          
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt_1 pr_0">
                            <p-calendar [(ngModel)]="date8" [timeOnly]="true" placeholder="¿A que hora?"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt_1">
                            <input type="text" pInputText pKeyFilter="num" placeholder="Num. Tel">
                        </div>
                        <div class="col-lg-8 col-md-12∫ col-sm-12 col-xs-12 mt_1">
                            <div *ngIf="check_expuesta">
                                <div class="mt_1">
                                    <p-checkbox name="group1" value="Expuesta" label="Persona politicamente expuesta" inputId="expuesta" (click)="check_expuesta = !check_expuesta; input_expuesta = !input_expuesta"></p-checkbox>
                                </div>
                            </div>
                            <div *ngIf="input_expuesta">
                                <div class="">
                                    <input type="text" pInputText pKeyFilter="alpha" placeholder="Persona politicamente expuesta">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="f_r pr_1 mt_2">¿Como actuar ante un siniestro?</p>
                </div>
            </div>
        </div>
    </div> 
    <div class="row summary_drop">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <h2>
                Coberturas para tu poliza
            </h2>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6 col-xs-12 mt_1">
            <p-dropdown [options]="riesgos" [(ngModel)]="selectedRies" placeholder="Elegí tu vehículo" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
    </div>
</div>
<div *ngIf="denuncia">
    <app-hogar-denuncia></app-hogar-denuncia>
</div>
<div *ngIf="content">
    <p-accordion [multiple]="true" class="content">
        <div class="no_header">
        <p-accordionTab header="" [selected]="true">
            <p-accordion>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col mb-4" *ngFor="let riesgos of polizaTodoRiesgoHogar">
                        <div class="card">
                            <div class="back_img">
                                <img src="{{ riesgos.icono }}" alt="">
                            </div>
                            <div class="card-body">
                                <h2 class="card-title">{{ riesgos.cobertura }}</h2>
                                <p-accordionTab header="Ver más">
                                    <p class="f_l"> {{ riesgos.informacion }} </p>
                                    <button class="btn btn-outline-light btn-lg btn-block mb_1 mt_1" style="width: 100%;" (click)="denuncia = !denuncia; content = !content; resumen_denuncia = !resumen_denuncia; resumen = !resumen">Hacé tu denuncia</button>
                                </p-accordionTab>   
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordion>
        </p-accordionTab>
        </div>
        <p-accordionTab header="Ver Más">
            <p-accordion>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col mb-4" *ngFor="let riesgos of polizaTodoRiesgoHogar">
                        <div class="card">
                            <div class="back_img">
                                <img src="{{ riesgos.icono}}" alt="">
                            </div>
                            <div class="card-body">
                                <h2 class="card-title">{{ riesgos.cobertura }}</h2>
                                <p-accordionTab header="Ver Más">
                                    <p> {{ riesgos.informacion }} </p>
                                    <button class="btn btn-outline-light btn-lg btn-block mb_1 mt_1" style="width: 100%;" (click)="denuncia = !denuncia; content = !content; resumen_denuncia = !resumen_denuncia; resumen = !resumen">Hacé tu denuncia</button>
                                </p-accordionTab>   
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="grid">
                            <figure class="effect-chico">
                                <div class="card">
                                    <div class="card_no_contract">
                                        <i class="pi pi-plus"></i>
                                    </div>
                                    <div class="back_img" style="height: 155px;">
                                        <img src="assets/im_dashboard/auto/Inundacion.png" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h2 class="card-title">Responsabilidad civil</h2>
                                        <a href="#" class="f_r card_link">Ver más</a>
                                    </div>
                                </div>
                                <figcaption>
                                    <p class="title_card_hover">¿Todavia no tenes este beneficio?</p>
                                    <p class="txt_card_hover">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam esse magni veritatis</p>
                                    <button class="btn btn-outline-secondary btn-lg btn-block mb_1">Contratalo ahora</button>
                                </figcaption>			
                            </figure>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="grid">
                            <figure class="effect-chico">
                                <div class="card">
                                    <div class="card_no_contract">
                                        <i class="pi pi-plus"></i>
                                    </div>
                                    <div class="back_img">
                                        <img src="assets/im_dashboard/auto/Inundacion.png" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h2 class="card-title">Responsabilidad civil</h2>
                                        <a href="#" class="f_r card_link">Ver más</a>
                                    </div>
                                </div>
                                <figcaption>
                                    <p class="title_card_hover">¿Todavia no tenes este beneficio?</p>
                                    <p class="txt_card_hover">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam esse magni veritatis</p>
                                    <button class="btn btn-outline-light btn-lg btn-block mb_1">Contratalo ahora</button>
                                </figcaption>			
                            </figure>
                        </div>
                    </div>
                </div>
            </p-accordion>
       </p-accordionTab>
    </p-accordion>
</div>
